<!DOCTYPE html>
<html>
  <head>
    <title>Página Principal</title>
    <link rel="stylesheet" href="../.././stylesheets/style.css" />
  </head>
  <body>
    <%- include('../../partials/header.ejs'); %>
    <main class="centro">
      <div class="bienvenido">
        <h1>welcome!!!</h1>
      </div>
      <form action="/register" method="POST">
        <div class="registro">
          <h1>Registrate aquí</h1>
          <input type="text" name="name" class="inpust" placeholder="Ingresa el Nombre" required/>
          <input
            type="text"
            name="lastname"
            class="inpust"
            placeholder="Ingresa el Apellido"
            required
          />
          <input type="text" name="age" class="inpust" placeholder="Ingresa tu Edad" required>
          <input
            type="email"
            name="email"
            class="inpust"
            placeholder="Ingresa el Correo Electrónico"
            required
          />
          <!-- Hay que pedir el tipo de documento -->
          <input
            type="number"
            name="cedula"
            class="inpust"
            placeholder="Ingresa tu cédula"
            value="0"
            min="0"
            max="32700000"
            required
          />
          <input
            type="password"
            name="password"
            class="inpust"
            placeholder="Crea tu Contraseña"
            required
          />
          <p class="pa">
            Estoy de acuerdo con
            <a href="/register/terminos_Condiciones" class="a"
              >Termino y Condiciones</a
            >
          </p>
          <button type="submit" class="botones">enviar</button>
          <p class="pa">
            <a href="/session" class="a">¿Ya tienes una cuenta ?</a>
          </p>
        </div>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButtom: '<%= showConfirmButtom %>',
          timer: '<%= timer %>'
        }).then(() => {
          window.location = '/<%= ruta %>'
        })
      </script>
      <% } %>



    <%- include('../../partials/footer.ejs'); %>
  </body>
</html>
